@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.container{
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
}

.wrapper{
    background-color: white;
}


.sidebar{
    width: 18%;
    padding: 2rem 0;
    min-width: 225px;
    height: 88vh;
}

.separation{
    display: flex;
}

.shoppingPage{
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    gap: 2rem;
    width: 100%;
    height: 88vh;
    overflow-y: scroll;
}
.shoppingPage::-webkit-scrollbar {
    width: 4px;
}

.shoppingPage::-webkit-scrollbar-thumb {
    background-color: #b3b1b1;
    border-radius: 10px;
}

.list_categories{
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    gap: 42px;
}



.list_item{
    color: black;
    font-family: "Montserrat", sans-serif;
}

.categories_title{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.list_item:hover{
    text-decoration: underline;
}

.active{
    text-decoration: underline;
    font-weight: 600;
}
.spinner_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1400px){

    .container{
        width: 90%;
        max-width: 1500px;
        margin: 0 auto;
    }

}



@media (max-width: 900px){

    .separation{
        display: block;
    }
    .sidebar{
        display: flex;
        height: fit-content;
    }
}
