/* keep global css rules here */

 body{
      transform: scale(0.8); /* Scales content to 80% */
      transform-origin: top left; /* Keeps scaling anchored to the top-left corner */
      width: 125%; /* Compensates for the reduced scale to maintain full width */
      height: 125%; /* Compensates for the reduced scale to maintain full height */
      overflow: hidden; /* Prevents scrollbars from appearing */
} 
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img{
    max-width: 100%;
    width: 145px;
    height: 160px;
}

button{
  border: 0px;
}
