@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.wrapper{
    width: 100%;
}

.container{
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
}

.welcome_section{
    padding: 4rem 0;
}

.about_section{
    padding-bottom: 1rem;
}

.Welcome{
    font-size: 42px;
    color:#716247;
    margin-bottom: 0.5em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.welcome_message{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin-bottom: 1em;
    line-height: 1.5;
}


.explore_button{
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
    display: flex;
    gap: 20px;
    font-size: 32px;
    font-family: "Lato", sans-serif;
    border: 2px;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    align-items: center;
    color: white;
    background-color: #7253d6;
    width: fit-content;
}

.explore_button:hover{
    color: rgb(214, 209, 203);
    cursor: pointer;
}

.button_wrapper{
    padding-bottom: 3rem;
}